@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --bg-color: #141414;
  --second-bg-color: #101a25;
  --text-color: #ffffff;
  --main-color: #18f7b8;
}
* {
  font-family: "Asap", sans-serif;
}
